include configuraciones.pug
<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        title Game Store
        link(rel="stylesheet", href="./css/ejercicio-pug.css")
    body
        include header.pug
        block contenidos
        include footer.pug